/*ESTILOS PRINCIPALES----------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

label.mobile_menu span {
    display: none;
}
input#mobile_menu {
    display: none;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #3D3D3D;
    background-color: #4d6684;
}

.titulo-pagina, .footer{
    background-color: #E74700;
    color: white;
    text-align: center;
}

.titulo-pagina{
    line-height: 4;      
}

.titulo-pagina h1{
    margin-left: -6%      
}

.footer{
    width: 100%;
    position: relative;
    line-height: 3;
    clear: both;
}

.logo {
    margin-top: 15px;
    text-align: center;
    width: 145px;
}

.contenido{
    height: 100%;
}

.wrap{
    display: inline-block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    width: 60%;
    overflow-y: scroll;
    background-color: #fff;
}

/*Columna Izquierda (Menú)*/
.sidebar-left{
    background-color: #4D6684;
    color: white;
    width: 20%;
    float: left;
    /*height:100%;
    height:455px;*/
    text-align: center;
    background-color: #4d6684;
}

.sidebar-left a, .sidebar-right a{
    color: white;
    text-decoration: none;
}

.sidebar-left li{
    list-style-type: none;
    line-height: 3;
    text-align: center;
    background: linear-gradient(#4A4A4A, #3D3D3D);
}

.sidebar-left li.active ul{
    display: block;
    
}

.sidebar-left ul{
    margin-top: 15px;
    padding: 0;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.sidebar-left ul ul.op-oculta{
    display: none;
    margin-top: 0;
    
}

.op-categorias, .op-etiquetas{
    cursor: pointer;
}

.op-oculta li a, .op-oculta li a{
    display: block;
    transition: all 0.15s;  
    background-color: #898989;
}

.op-oculta li a:hover, .op-oculta a:hover{
    background: #1499D3;
    border-left: 5px solid #E74700;
}


/*Columna Derecha (Sidebar)*/
.sidebar-right{
    background-color: #4D6684;
    color: white;
    width: 20%;    
    float: left;
    height: 100%;
    text-align: center;
}

.sidebar-right h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.sidebar-right ul{
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-right ul li{
    list-style-type: none;
    width: 20%;
    min-width: 50px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.twitter {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    padding: 0;
    max-width: 85%;
}

/*PAGINA BLOG---------------------------------------------------------------------------------------------------------------------*/
.contenedor-post{
    border-bottom: 3px solid #e74700;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
}

.contenedor-post:last-child{
    border-bottom: none;
}

.titulo-post{
    text-align: center;
}

.imagen-post {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 90%;
    overflow: hidden;
}

.imagen-post img{
    transition: all 0.5s ease-in-out 0.1s;
    max-width: 100%;
    height: auto;
}

.imagen-post img:hover{
    transform: scale(1.1);
}

.fragmento-post{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
}

.leer-mas{
    margin-bottom: 20px;
    margin-right: 2.5%;
    text-align: right;
}

.leer-mas a{
    color: white;    
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #83AA30; 
    padding: 6px;
    text-decoration: none;
}

.leer-mas a:hover{
    background-color: #526A1E;
}

/*PAGINA POST------------------------------------------------------------------------------------------------------------------*/
.post, .comentarios{
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
}

.post{
    border-bottom: 3px solid #E74700;
}

.post header{
    margin-bottom: 10px;
    margin-top: 20px;
    font-style: oblique;
}

.contenido-post{
    margin-top: 15px;
    text-align: justify;
    border-bottom: 2px dotted #e74700;
}

.contenido-post img{
    margin-left: 22%;
    width: 60%;
}

.contenido-post ul{
    margin-left: 10%;
    margin-right: 10%;
}

.contenido-post video{
    margin-left: 10%;
}

.categorias, .etiquetas, .recomendaciones{
    margin-top: 15px;
}

.categorias ul, .etiquetas ul, .recomendaciones ul{
    list-style-type: none;
}

.categorias ul li, .etiquetas ul li{
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}

.categorias ul li a, .etiquetas ul li a{
    text-decoration: none;
    color: #E74700;
}

.categorias ul li a:hover, .etiquetas ul li a:hover{
    color: #AA3400;
}

.recomendaciones{
    margin-bottom: 20px;
}

.recomendaciones ul li{
    margin-bottom: 10px;
    font-weight: bold;
}

.recomendaciones ul li a{
    margin-left: 5px;
    text-decoration: none;
    color: #E74700;
}

.recomendaciones ul li a:hover{
    color: #AA3400;
}

.recomendaciones ul li i{
    color: #4d6684;
}

#mensaje-comentarios{
    margin-bottom: 20px;
}

#comentarios-enviados h3{
    color: #E74700;
}

.comentario{
    border-bottom: 2px solid #83AA30;
    margin-top: 10px;
}

.comentario:last-child{
    border-bottom: none;
}

.formulario-comentarios{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.formulario-comentarios p{
    margin-bottom: 15px;
}

.categorias h4, .etiquetas h4, .recomendaciones h4{
    color: #83AA30;  
    margin-bottom: 10px;
}

pre.post-1{
    background-color: #3d3d3d;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 17px;
    width: 80%;
}

pre.post-2{
    background-color: #3d3d3d;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 17px;
    width: 12%;
    text-align: center;
}

.ejemplo-1, .ejemplo-2, .ejemplo-3{
    text-align: center;
    margin-left: 30%;
    margin-top: 20px;
}

.ejemplo-1{
    border-radius: 25px;
    background: #8AC007;
    padding: 20px;
    width: 200px;
    height: 150px; 
}

.ejemplo-2{
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
    width: 200px;
    height: 150px; 
}

.ejemplo-3{
    border-radius: 25px;
    background: url(../img/gray.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
    color: white;
}

.logo-canvas{
    margin-left: auto;
    margin-right: auto;
    width: 36%;
}

/*PAGINA CONTACTO--------------------------------------------------------------------------------------------------------------*/
.contacto{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.mensaje-contacto{
    background-color: #83aa30;
    border: 1px solid #83aa30;
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 40px;
    padding: 15px;
    text-align: center;
    width: 90%;
}

.formulario{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.formulario label{
    font-weight: bold;
}

.formulario p{
    margin-bottom: 15px;
}


.boton-enviar{
    background-color: #83aa30;
    border: 1px solid #83aa30;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 164px;
    margin-right: auto;
    padding: 6px;
    width: 100px;
    margin-top: 20px;
}

.boton-enviar:hover{
    background-color: #526A1E;
    border-color: #526A1E;
}

#error-nombre, #error-email, #error-mensaje{
    color: red;
    font-weight: bold;
}

.mensaje-obligatorio{
    color: red;
    text-align: right;
    font-weight: bold;
}

input{
    font-size: 15px;
}

input, textarea{
    font-family: 'Open Sans', sans-serif;
    
}


input:focus:invalid, textarea:focus:invalid{
    background: #fff url(../img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

input:focus:valid, textarea:focus:valid{
    background: #fff url(../img/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.asterisco, .asterisco-mensaje{
    color: red;
    font-weight: bold;
}

#nombre{
    margin-left: 5px;
}

#email{
    margin-left: 26px;
}

.asterisco-mensaje{
    float: right;
}

@media only screen and (max-width: 940px) {

.wrap{
    margin-left: 5%;
    width: 90%;
}

.logo {
    margin-left: -20%;
}
    
.menu{
    display: none;
    margin-bottom: 15px;
    margin-top: -10px;
}

.sidebar-left{
    width: 100%
}
    
.sidebar-right {
    margin-left: 12.5%;
    width: 75%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.contenido {
    height: auto;
}
.sidebar-right ul li {
    width: 10%;
}
    
.twitter-timeline{
    height: 500px;
}
label.mobile_menu span {
    display: inline;
}
    
label.mobile_menu {
    border: 3px solid #fff;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-family: tahoma;
    font-size: 28px;
    height: 40px;
    margin-bottom: 65px;
    margin-left: 60%;
    margin-top: -95px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    text-shadow: 0.1em 0.1em 0.1em black;
    width: 40px;
}

#mobile_menu:checked + .menu {
    display: block;
}

    
}
