/*ESTILOS PRINCIPALES*/
html{
    height: 100%;    
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;   
}

.titulo-pagina, .footer{
    background-color: #E74700;
    color: white;
    text-align: center;
}

.menu, .sidebar{
    background-color: #4D6684;
    color: white;
    width: 15%;
    margin-top: -22px;
}

.menu a, .sidebar a{
    color: white;
}

.titulo-pagina{
    line-height: 4;  
    margin-top: -21px;
}

.menu{
    float: left;
    bottom: 0;
    margin-top: 128px;
    position: absolute;
    top: 0;
}

.sidebar{
    left: 85%;
    bottom: 0;
    margin-top: 128px;
    position: absolute;
    top: 0;
}

.footer{
    width: 100%;
    position: absolute;
    line-height: 3;
    bottom: 0;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*PAGINA BLOG*/
.contenido{
    color: #3D3D3D;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.contenedor-post{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #E74700;
    width: 65%;
}

.contenedor-post:last-child{
    border-bottom: none;
}

.titulo-post{
    text-align: center;
}

.imagen-post{
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.imagen-post img{
    transition: all 0.5s ease-in-out 0.1s;
    max-width: 100%;
}

.imagen-post img:hover{
    transform: scale(1.1);
}

.leer-mas{
    margin-bottom: 20px;
    margin-left: 85%;
}

.leer-mas a{
    color: white;    
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #83AA30; 
    padding: 6px;
    text-decoration: none;
}

.leer-mas a:hover{
    background-color: #526A1E;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*PAGINA POST*/


/*-----------------------------------------------------------------------------------------------------------------------------*/
/*PAGINA CONTACTO*/

.contacto{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.mensaje-contacto{
    background-color: #83aa30;
    border: 1px solid #83aa30;
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    width: 90%;
}

.formulario{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.boton-enviar{
    background-color: #83aa30;
    border: 1px solid #83aa30;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 164px;
    margin-right: auto;
    padding: 6px;
    width: 100px;
}

.boton-enviar:hover{
    background-color: #526A1E;
    border-color: #526A1E;
}

#error-nombre, #error-email, #error-mensaje{
    color: red;
    font-weight: bold;
}

.mensaje-obligatorio{
    color: red;
    text-align: right;
}

/*Estilos a input y textarea*/
input, textarea{
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    outline:none;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid #669900;
    color:black;
    background-color:#FFFFCC;
    padding: 3px;
}
input:focus, textarea:focus {
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    border:1px solid blue;
    background-color:white;
}

.asterisco, .asterisco-mensaje{
    color: red;
}

#nombre{
    margin-left: 5px;
}

#email{
    margin-left: 26px;
}

.asterisco-mensaje{
    float: right;
}

.formulario input:required:valid, .formulario textarea:required:valid {
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.formulario input:focus:invalid, .formulario textarea:focus:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.form_hint::before {
    content: "\25C0";
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.formulario input, .formulario textarea {
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s; 
}

.formulario input:focus + .form_hint {display: inline;}
.formulario input:required:valid + .form_hint {background: #28921f;}
.formulario input:required:valid + .form_hint::before {color:#28921f;}