
* {
    border: 0 none;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    //background-color: #FCEBB6;
}
/*.container {
    background-image: url("../img/gray.jpg");
    min-height: 100%;
    width: 100%;
    position: fixed;
}*/

.container {
    background-image: url("../img/logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70%;
    //background-size: auto 100%;
    min-height: 100%;
    position: fixed;
    width: 100%;
}

header{
    height: 105px;
    width: 100%;
    //background-color: #323638;
    background-color: #5E412F;
    position: fixed;
    z-index: 100;
}

header  p {
    //color: #e44d26;
    font-family: fantasy;
    //font-size: 25px;
    font-weight: bold;
    margin-left: 4%;
    padding: 14px;
    text-shadow: 0.1em 0.1em 0.2em red;
    color: #f07818;
    font-size: 31px;
    margin-top: 18px;
    
}

.leftColumn{    
    //background-color: #fff;
    //background-color: #FCEBB6;
    background-color: rgba(252,235,182,0.7);
    float: left;
    width: 15%;
    height: 100%;
    position: fixed;
    //opacity: 0.7;   
}


.rightColumn{    
    //background-color: #fff;
    //background-color: #FCEBB6;
    background-color: rgba(252,235,182,0.7);
    float: left;
    margin-left: 85%;
    height: 100%;
    width: 15%;
    position: fixed;
    //opacity: 0.7;
    
}
.centerColumn{    
    background-color: rgba(72, 61, 139, 0.5);
    float: left;
    margin-left: 15%;
    width: 70%;
    min-height: 100%;
    position: relative;
    /*opacity: 0.5;*/
}

nav.prMenu{
    margin-top: 200px;
    //margin-top: 80px;

}

.prMenu ul{
    padding: 0;
    margin: 0;
}

.prMenu li {
    border-top: 2px solid;
    display: table;
    line-height: 60px;
    list-style: outside none none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    //color: darkslateblue;
    color: #508070;
    //text-shadow: 0.1em 0.1em 0.2em cornflowerblue;
    font-weight: bold;
}

.prMenu li:last-child{
    border-bottom: 2px solid;
}

.prMenu li:hover{
    //background-color: darkslateblue;
    background-color: #78C0A8;
    color: #fff;
}

.prMenu a {
    display: block;
    font-size: 20px;
}


nav.snMenu{
    margin-top: calc(100% + 46px);
    text-align: center;
}

.snMenu span{
    width: 100%;
    text-align: center;
}

.snMenu ul{
    padding: 0;
    margin: 0;
}

.snMenu li {
    border-top: 2px solid;
    display: table;
    line-height: 30px;
    list-style: outside none none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    //color: darkslateblue;
    //text-shadow: 0.1em 0.1em 0.2em cornflowerblue;
    color: #508070;
    font-weight: bold;
}

.snMenu li:last-child{
    border-bottom: 2px solid;
}

.snMenu li:hover{
    //background-color: darkslateblue;
    background-color: #78C0A8;
    color: #fff;
}

.snMenu a {
    display: block;
    font-size: 20px;
}

footer{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 55px;
    background-color: #323638;
    margin-top: -55px;
}
.title{
    width: 100%;
    height: 100px;
    background-color: #fff;
    opacity: 1;
    //margin-top: 55px;
    margin-top: 105px;
}

.info{
    width: 100%;
    height: 200px;
    background-color: #fff;
    opacity: 1;
}

.infoTr{
    width: 100%;
    height: 200px;
    opacity: 1;
}
/*
footer {
    background-color: #ff0066;
    clear: both;
    color: #fff;
    font-size: 16px;
    height: 80px;
    line-height: 5;
    margin-top: -80px;
    position: relative;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
}*/

.logo{
    width: 100px;
    height: 100px;
    //margin-left: 315px;
    //margin-top: -57px;
    margin-left: 365px;
    margin-top: -85px;
}

